<h1>élément HTML</h1>
<?php
echo "PHP Ansible 100% fonctionnel";
echo "Résultat de phpinfo() ci-dessous:";
phpinfo();
?>
<?php
if ({{environment}} == "staging") { <h2>Rôle du serveur:{{role}}</h2> }
?>

<?php
$link = mysql_connect('localhost', 'mysql_user', 'mysql_password');
if (!$link) {
    die('Could not connect: ' . mysql_error());
}
echo 'Connected successfully';
mysql_close($link);
?>